body {
	font-family: 'Open Sans', sans-serif;
	background-color: #111111;
}

h1, h2 {
	color: white;
	font-family: 'Raleway', 'Open Sans', sans-serif;
	margin: 0.5em;
}

h1 {
	font-size: 1em;
}

h2 {
	font-size: 2em;
}

footer {
	padding: 1%;
	font-size: 0.9em;
	color: #bbb;
	text-align: right;
	background-color: #111111;
}

a {
	color: #eee;
}

a:hover {
	color: #ccc;
}

/* episodes */

.episode-order header {
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #111111;
	background-color: #111111;
	z-index: 2;
}

.episode-headers {
	opacity: 0.8;
}

.episode-list {
	background-color: black;
}

.episode-list .episode:first-child {
	padding-top: 0.3em;
}

.episode-table {
	display: table;
	width: 100%;
}

.episode-row {
	display: table-row;
}

.episode-row:hover {
	opacity: 0.9;
}

.episode-row.past { opacity: 0.6; }
.episode-row.current { opacity: 1; }
.episode-row.future { opacity: 0.8; }

.episode {
	display: table-cell;
	width: 20%;
}

.episode > div {
	margin: 0.1em 0.2em;
	padding: 0.1em;
	color: white;
}

.episode-season, .episode-name, .episode-number {
	display: inline-block;
	min-height: 1.6em;
	line-height: 1.6em;
}

.episode-season, .episode-number {
	border-radius: 2px;
	background-color: rgba(256, 256, 256, 0.1);
	padding: 0 0.3em;
}

div.episode-season {
	width: 1.4em;
	text-align: center;
}

div.episode-number {
	width: 2em;
	text-align: center;
}

div.episode-name {
	margin-left: 0.4em;
}

div.type-film {
	background-color: #232020;
}

div.type-sg1 {
	background-color: #553739;
}

div.type-sga {
	background-color: #955E42;
}

div.type-sgu {
	background-color: #9C914F;
}

div.type-kw {
	background-color: #748E54;
}
