body {
	font-family: 'Open Sans', sans-serif;
	background-color: black;
}

h1, h2 {
	color: white;
	font-family: 'Raleway', 'Open Sans', sans-serif;
	margin: 0.5em;
}

h1 {
	font-size: 1em;
}

h2 {
	font-size: 2em;
}

footer {
	padding: 1%;
	font-size: 0.9em;
	color: #bbb;
	text-align: right;
	background-color: black;
}

a {
	color: #eee;
}

a:hover {
	color: #ccc;
}

/* episodes */

#order {
}

#order header {
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 1px solid black;
	background-color: black;
	z-index: 2;
}

#episode-headers {
	opacity: 0.9;
}

#episode-list {
	background-color: white;
	margin-top: 6em;
}

#episode-list div.episode:first-child {
	padding-top: 0.3em;
}

div.episode-table {
	display: table;
	width: 100%;
}

div.episode-row {
	display: table-row;
}

div.episode-row:hover {
	opacity: 0.9;
}

div.episode {
	display: table-cell;
	width: 20%;
}

div.episode > div {
	margin: 0.2em 1em;
	padding: 0.2em;
	color: white;
}

div.episode-season, div.episode-name, div.episode-number {
	border-radius: 3px;
	background-color: rgba(256, 256, 256, 0.1);
	display: inline-block;
	min-height: 1.8em;
	line-height: 1.8em;
	font-size: 1.2em;
	padding: 0 0.5em;
}

div.episode-season {
	width: 1.8em;
	text-align: center;
}

div.episode-number {
	width: 2.2em;
	text-align: center;
}

div.episode-name {
	margin-left: 0.4em;
}

div.type-film {
	background-color: #232020;
}

div.type-sg1 {
	background-color: #553739;
}

div.type-sga {
	background-color: #955E42;
}

div.type-sgu {
	background-color: #9C914F;
}

div.type-kw {
	background-color: #748E54;
}

